.Fundi---UI/UX-App-Design-1-rgba { color: rgba(63, 1, 41, 1); }
.Fundi---UI/UX-App-Design-2-rgba { color: rgba(89, 1, 65, 1); }
.Fundi---UI/UX-App-Design-3-rgba { color: rgba(242, 239, 234, 1); }
.Fundi---UI/UX-App-Design-4-rgba { color: rgba(242, 82, 46, 1); }
.Fundi---UI/UX-App-Design-5-rgba { color: rgba(242, 64, 48, 1); }

* {
    margin: 0;
    padding: 0;
}

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

.cabecalho,
.rodape {
    height: 15vh;
}

.cabecalho > h1 {
    text-align: center;
}

.caixa-abas {
    display: flex;
    justify-content: center;
}

.aba-cadastro,
.aba-relatorio {
    position: relative;
    text-align: center;
}

.caixa-centro {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    margin-top: 50px;
    overflow-y: scroll;
}

.caixa-grid {
    align-self: center;
    width: 100%;
    height: auto;
}

.linha-grid,
.header-table {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
}

.header-table {
    width: 100%;
    margin-bottom: 20px;
}

.linha-grid {
    column-gap: 30px;
}

.coluna-grid {
    text-align: center;
}

.input-nome,
.input-quantidade,
.input-forma-pagamento,
.btn-enviar {
    width: 90%;
    height: 30px;
    margin-top: 15px;
    align-self: center;
}

.div-checkbox {
    display: flex;
    justify-content: center;
    gap: 1em;
}

ul {
    list-style: decimal;
    align-content:  center;
}

li {
    color: black;
    list-style: decimal;

}