/* Color Theme Swatches in Hex */
.compra-e-venda-1-rgba { color: rgba(160, 128, 255, 1); }
.compra-e-venda-2-rgba { color: rgba(116, 117, 232, 1); }
.compra-e-venda-3-rgba { color: rgba(140, 172, 255, 1); }
.compra-e-venda-4-rgba { color: rgba(116, 179, 232, 1); }
.compra-e-venda-5-rgba { color: rgba(128, 230, 255, 1); }

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100vw;
    height: auto;
}

.cabecalho,
.rodape {
    width: 100%;
    height: 50px;
}

.cabecalho {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    z-index: 1;
    margin-bottom: 10px;
    background-color: rgba(116, 117, 232, 1);
}

h1 {
    flex-shrink: 1em;
    color: aliceblue;
    align-self: center;
    margin: auto;
}

.cabecalho > h1 {
    text-align: center;
}

.btn-menu {
    height: auto;
    margin-right: 20px;
}

.line-menu,
.line-btn-fechar {
    width: 30px;
    height: 4px;
    margin-bottom: 5px;
    background-color: aliceblue;
}

.btn-fechar {
    margin: 30px;
}

.menu {
    width: 100%;
    height: 100vh;
    position: absolute;
    margin-left: -3000px;
    z-index: 4;
    background-color: rgba(67, 69, 171, 0.882);
}

.titulos-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    width: 80%;
    height: 20%;

}

.titulo-menu {
    color: aliceblue;
}

.header-secundario {
    position: fixed;
    width: 100%;
    height: 65px;
    margin-top: 60px;
    background-color: aliceblue;
}

.btn-form-vendas,
.btn-form-relatorio,
.btn-form-produtos {
    flex-shrink: 2em;
    flex-grow: 2em;
    color: rgb(199, 199, 235);
    padding: 15px;
    height: 50px;
}

.caixa-centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 140px;
    width: 88%;
    height: auto;
    overflow-y: scroll;
}

.q-vendas,
.div-cliente-devedor {
    margin-bottom: 4px;
    color: rgba(58, 28, 87, 0.362); 
}

.caixa-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

.linha-grid,
.header-table {
    display: grid;
    align-items: center;
    grid-template-columns: 0.1fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
    padding: 2px;
}

h2 {
    font-size: 20px;
    text-align: center;
}

.header-table {
    position: fixed;
    margin-top: 120px;
    width: 90%;
    border-radius: 3px;
    color: aliceblue;
    align-content: center;
    height: 20px;
    padding: 2px;
    background-color: rgb(116, 118, 232);
}

.linha-grid {
    border-bottom: 1px solid rgba(137, 43, 226, 0.362);
    border-radius: 3px;
    column-gap: 10px;
    height: auto;
    background-color: rgba(116, 180, 232, 0.045);
}

.linha-grid:hover {
    background-color: rgba(116, 180, 232, 0.101);
}

.linha-grid:active {
    background-color: rgba(116, 180, 232, 0.139);
}

.coluna-grid {
    align-self: flex-end;
    text-align: center;
    overflow: hidden;
}

.key,
.codigo {
    visibility: hidden;
}

p {
    color: rgba(58, 28, 87, 0.362);
}

hr {
    background-color: rgba(116, 179, 232, 1);;
}

.input-descricao,
.input-nome {
    margin-top: 20px;
}

.input-nome,
.input-quantidade,
.input-forma-pagamento,
.input-produto,
.input-descricao,
.input-valor,
.input-status,
.div-checkbox {
    color: rgba(116, 118, 232, 0.63);
    place-content: rgba(116, 118, 232, 0.63);
}

.input-nome,
.input-produto,
.input-quantidade,
.input-forma-pagamento,
.input-status,
.input-descricao,
.input-valor,
.btn-enviar,
.btn-editar,
.btn-excluir,
.div-checkbox {
    width: 90%;
    max-width: 400px;
    height: 40px;
    align-self: center;
    border-radius: 5px;
    border: 1px solid rgba(116, 180, 232, 0.574);
    font-size: 18px;
}

.btn-enviar,
.btn-editar,
.btn-excluir {
    color: aliceblue;
}

.btn-excluir {
    background-color: crimson;
    border: 1px solid crimson;
}

.input-quantidade,
.input-produto,
.input-forma-pagamento,
.input-status,
.input-descricao,
.input-valor,
.btn-enviar,
.btn-editar,
.btn-excluir, 
.div-checkbox {
    margin-top: 25px;
}

.div-checkbox {
    display: flex;
    justify-content: center;
    gap: 1em;
    overflow-x: scroll;
}

ul {
    list-style: decimal;
    align-content:  center;
}

li {
    color: black;
    list-style: decimal;

}

.btn-enviar,
.btn-editar {
    background-color: rgba(116, 117, 232, 1);
}

.btn-enviar,
.btn-editar:active {
    background-color: rgb(103, 105, 223);
}

.btn-excluir:active {
    background-color: rgb(186, 17, 51);
} 